@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

@font-face {
    font-family: 'LABDigital';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/LAB디지털.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
}

#root {
    width: 100%;
    height: 100%;
    display: block;
}

.section.active:not(.fp-auto-height) .fp-tableCell {
    transform: scale(1) translateY(0%);
    border-radius: 0;
    transition: 1s 0.8s;
}

.section:not(.fp-auto-height, .fadeout) .fp-tableCell {
    /**transform: scale(0.88) translateY(0%);**/
    transition: 0.3s;
}

#section4,
#section4 .fp-tableCell {
    height: auto !important;
}

.section.fadeout .fp-tableCell {
    filter: brightness(80%);
    transition: 0.4s;
}

.tableCellInner {
    vertical-align: bottom;
    transition-property: all;
}

.main {
    width: 100%;
}

#fp-nav.right {
    right: 1.125em;
}

#fp-nav {
    margin-right: 2.9375em;
}

#fp-nav ul {
    position: relative;
}

@media (max-width: 767px) {
    #fp-nav {
        margin-right: 2.34375em;
        zoom: 0.6;
        top: 92%;
    }
}

#fp-nav ul li {
    position: relative;
    background: #4f4940;
    border-radius: 50%;
    height: 0.5em;
    width: 0.5em;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    display: block;
}

#fp-nav ul li + li {
    margin-top: 1.875em;
}

#fp-nav ul li a {
    display: block;
}

#fp-nav ul li a.active::after {
    position: absolute;
    opacity: 1;
    transform: scale(1);
    transition: 0.5s;
    display: block;
    border-radius: 50%;
    border: 1px solid #4f4940;
    box-sizing: border-box;
    transition: 0.5s;
    width: 1.875em;
    height: 1.875em;
    content: '';
}

#fp-nav ul li a::after {
    display: block;
    content: '';
    position: absolute;
    width: 1.875em;
    height: 1.875em;
    border: 1px solid #4f4940;
    border-radius: 50%;
    top: -0.6875em;
    left: -0.6875em;
    transform: scale(0);
    opacity: 0;
    box-sizing: border-box;
    transition: 0.5s;
}

#fp-nav ul li a span {
    display: none;
}

#fp-nav ul li a.active span {
    display: none;
}

.is-blurred,
#is-blurred {
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

.scrollLock {
    overflow: hidden;
}
