div {
	text-align: center;
  }
  
  .bracket {
	font-size: 50px;
  }
  
  .big {
	font-size: 30px;
	margin: 0;
  }
  
  .parent {
	display: flex;
	position: absolute;
	top: 70px;
	left: 50%;
	transform: translate(-50%, -50%);
  }
  
  .box {
	background-color: lightgray;
	padding: 20px;
	margin: 0px;
	display: flex;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
  }
  
  .btn {
	text-decoration: none;
	font-size: 20px;
	color: black;
	background-color: antiquewhite;
	padding: 20px 150px 20px 150px;
	display: flex;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: inline-block;
	border-radius: 30px;
  }
  