@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
}

#root {
    width: 100%;
    height: 100%;
}

.section.active:not(.fp-auto-height) .fp-tableCell {
    transform: scale(1) translateY(0%);
    border-radius: 0;
    transition: 1s 0.8s;
}

.section:not(.fp-auto-height, .fadeout) .fp-tableCell {
    transform: scale(0.88) translateY(0%);
    transition: 0.3s;
}

#section4 .fp-tableCell .footer {
    height: 402px;
}

.fp-tableCell {
    background: radial-gradient(
        107.4% 339.42% at -7.4% -7.13%,
        #e2dfda 0%,
        #ffffff 100%
    );
    /*background: radial-gradient(
        93.19% 246.2% at -8.85% -12.69%,
        #ffe1dc 0%,
        rgba(244, 183, 156, 0) 100%
    ); */
    /*background: radial-gradient(
        85.83% 271.28% at -7.4% -7.13%,
        #feddac 0%,
        #fff9f7 100%
    );*/
    font-size: 20px;
    vertical-align: bottom;
}

.section.fadeout .fp-tableCell {
    opacity: 0.7;
    transition: 0.2s;
}

.main {
    width: 100%;
}

#fp-nav {
    margin-right: 47px;
}

#fp-nav ul {
    position: relative;
}

#fp-nav ul li {
    position: relative;
    background: #4f4940;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    display: block;
}

#fp-nav ul li + li {
    margin-top: 30px;
}

#fp-nav ul li a {
    display: block;
}

#fp-nav ul li a.active::after {
    position: absolute;
    opacity: 1;
    transform: scale(1);
    transition: 0.5s;
    display: block;
    border-radius: 50%;
    border: 1px solid #4f4940;
    box-sizing: border-box;
    transition: 0.5s;
    width: 30px;
    height: 30px;
    content: '';
}

#fp-nav ul li a::after {
    display: block;
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid #4f4940;
    border-radius: 50%;
    top: -11px;
    left: -11px;
    transform: scale(0);
    opacity: 0;
    box-sizing: border-box;
    transition: 0.5s;
}

#fp-nav ul li a span {
    display: none;
}

#fp-nav ul li a.active span {
    display: none;
}
